# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.p~


# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py
.env
.env.*

# VSCode / IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Migrations
# Ignore all migration files
**/migrations/*
# But keep __init__.py files in migrations folders
!**/migrations/__init__.py

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# virtual environment
venv/
ENV/
env/
.venv/

# pip-tools
*.txt~

README.md